:root {
  --first-color: #16021b;
  --second-color: rgb(74, 30, 83);
  --third-color: #4c3880;
  --fourth-color: #D4ADFC;
  --text-color: #d4d4d4;
}

* {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: var(--first-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Mobile-first styles */
header {
  font-size: 0.7.5em;
  text-align: center;
  margin: 20px auto 0;
  width: 80%;
  padding: 10px;
}

footer{
  text-align: center;
}

h1 {
  font-size: 2em;
}

hr {
  border: none;
  border-top: 1px solid var(--second-color);
  margin: 20px 0;
}

form {
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 2px solid var(--text-color);
  width: 25px;
  height: 25px;
  transition: background-color 1s ease;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

input[type="checkbox"]:checked {
  background-color: var(--third-color);
}

button,
.feedback input[type="submit"] {
  background-color: var(--second-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  padding: 10px 40px;
  margin-left: 10px;
  margin-top: 20px;
  letter-spacing: 2px;
}

button:hover,
.feedback input[type="submit"]:hover {
  background-color: var(--third-color);
  color: var(--text-color);
}


/*
.uni-picker-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
}

.dropdown input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: solid var(--primary-color);
  font-size: 1em;
  line-height: 1.5;
  background-color: #222;
  transition: border-color 0.3s ease-in-out;
  color: #ffffff;
}

.dropdown input[type="text"]:focus {
  outline: none;
  border-color: #ffffff;
}

.dropdown ul {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 2px solid var(--primary-color);
  border-radius: 0 0 4px 4px;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown li:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}
*/

.form-container {
  position: relative;
  text-align: center;
}

.expand-arrows {
  font-size: 2.5em;
  cursor: pointer;
  color: var(--second-color);
}


.expandable-form {
  overflow: hidden;
  transition: height 0.5s;
  height: 0;
  border-radius: 1px;
  border-color: var(--fourth-color);
}